html {
	scroll-behavior: smooth;
}

a {
	color: inherit;
	text-decoration: inherit;
}

a:hover {
	color: inherit;
}

.carousel-item img {
	height: 50%;
	width: 50%;
}

.app-icon {
	height: 100px;
	width: 100px;
	border-radius: 25px;
}

.list-unstyled li {
	margin-bottom: .5rem;
}
