html {
	scroll-behavior: smooth;
	scroll-padding-top: 104px;
}

h1[id]:before {
	display: block;
	height: 104px; /* equal to the header height */
	margin-top: -104px; /* negative margin equal to the header height */
	visibility: hidden;
	content: "";
}

.app-icon {
	height: 100px;
	width: 100px;
	border-radius: 25px;
}

.list-unstyled li {
	margin-bottom: .5rem;
}
