html {
	scroll-behavior: smooth;
	scroll-padding-top: 104px;
}

div.carousel-item img {
	height: 25%;
	width: 100% !important;
}
.carousel-item img {
	height: 50%;
	width: 50%;
}

.app-icon {
	height: 100px;
	width: 100px;
	border-radius: 25px;
}

.list-unstyled li {
	margin-bottom: .5rem;
}
